@font-face {
    font-family: 'conthrax-regular'; /* Name your font family */
    src: url('fonts/Conthrax Regular.otf');
}
@font-face {
    font-family: 'conthrax-light'; /* Name your font family */
    src: url('fonts/Conthrax Light.otf');
}
@font-face {
    font-family: 'conthrax-semibold'; /* Name your font family */
    src: url('fonts/Conthrax SemiBold.otf');
}
@font-face {
    font-family: 'conthrax-bold'; /* Name your font family */
    src: url('fonts/Conthrax Bold.otf');
}
@font-face {
    font-family: 'conthrax-heavy'; /* Name your font family */
    src: url('fonts/Conthrax Heavy Italic.otf');
}
@font-face {
    font-family: 'conthrax-book-italic'; /* Name your font family */
    src: url('fonts/Conthrax Book Italic.otf');
}



/* Style for the Leaflet popup */
.leaflet-popup {
    background: rgba(17, 22, 34, 0.521); /* Semi-transparent black background */
    backdrop-filter: blur(5px);
    border-radius: 3px; /* Rounded corners */
    padding: 4px; /* Padding inside the popup */
    padding-top: 2px;
    padding-bottom: 16px;
    color: white; /* Text color */
    box-shadow: none;
}

.leaflet-popup-content-wrapper {
    background: rgba(0, 0, 0, 0); /* Transparent background */
    box-shadow: none;
    text-align: center; /* Center the text inside the popup */
    white-space: nowrap; /* Prevent the text from wrapping */
}

.leaflet-popup-content {
    color: white; /* Text color */
    font-family: 'conthrax-regular', sans-serif; /* Custom font */
    font-size: 14px; /* Font size */
    letter-spacing: 1.5px;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.leaflet-popup-close-button {
    display: none; /* Hide close button */
}

.leaflet-popup-tip {
    display: none; /* Hide the popup arrow */
}

.leaflet-marker-icon {
    transform: scale(1); /* Initial scale */
    transform-origin: center center; /* Center scaling */
}



/* Style for Modal popup */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Set a max-width */
    position: relative;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}